body{
    margin:0;
    background-color: rgb(142, 165, 177);
}
nav{
    background-color: #55b38e;

}
ul{
    list-style-type: none;
    border: 1px solid steelblue;
    padding: 20px;
    color:#fff;
}

li{
    float: left;
    margin-left: 2em;
}

li:hover{
    color:lightgray;
    cursor: pointer;
}

.right{
    float: right ;
}
div.wrap{
    background-image: url('../img/butare.jpg') repeat;
    min-height: 200vh;
  text-decoration:text;
text{
      list-style-position: center;
  }: 1px;
}

a{
    text-decoration: none;
    color:#fff;
}

.course_wrap{
    background-color:lightslategrey;
    min-height: 100vh;
    margin-top: -16px;
}

.course_box{
    background-color:#eee;
    min-height: 80vh;
    margin: 90px;
    border-radius: 20px;
}

.tutoriol_box{
    display: flex;
    align-items: center;
    background-color:#eee;
    min-height: 80vh;
}
div.tutorial_box div{
    border: 1px solid lightblue;
    margin-left: 20px;
    padding: 20px;
}
